<link rel="stylesheet" href="css/explore.css">
<div class="explore_container">
    <div class="container_child">
        <img src="/assets/taj.jpg">
        <div class="info_text">
            <h2>Taj Mahal</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur fugit cum corporis commodi! Velit repellendus saepe deleniti natus minima tenetur, praesentium dolorum iste nulla voluptas esse ipsum rem eos.
                Recusandae, et quidem placeat necessitatibus suscipit totam exercitationem voluptatum consequatur deserunt amet sapiente pariatur ab ea eveniet voluptates odio dignissimos aliquam possimus ratione! Quidem totam deleniti voluptate dolor, adipisci accusamus.
                Amet vel quisquam quasi eius molestiae assumenda ex pariatur cumque delectus similique incidunt nostrum iusto, voluptate alias exercitationem ratione fugit sequi laudantium numquam veniam illo libero perferendis! Optio, nulla maxime!
            </p>
        </div>
    </div>
    <br>
    <div class="container_child">
        <div class="info_text">
            <h2>Taj Mahal</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur fugit cum corporis commodi! Velit repellendus saepe deleniti natus minima tenetur, praesentium dolorum iste nulla voluptas esse ipsum rem eos.
                Recusandae, et quidem placeat necessitatibus suscipit totam exercitationem voluptatum consequatur deserunt amet sapiente pariatur ab ea eveniet voluptates odio dignissimos aliquam possimus ratione! Quidem totam deleniti voluptate dolor, adipisci accusamus.
                Amet vel quisquam quasi eius molestiae assumenda ex pariatur cumque delectus similique incidunt nostrum iusto, voluptate alias exercitationem ratione fugit sequi laudantium numquam veniam illo libero perferendis! Optio, nulla maxime!
            </p>
        </div>
        <img src="/assets/leaning.jpeg">
    </div>
</div>