<link rel="stylesheet" href="css/explore.css">
<%- include('./partials/navbar') %>
<div class="img-fluid">
    <div class="main-1">
		<div class="mai">
			<h1 style="font-size: 60px;">Explore</h1>
			<p>To visit a monument virtually.</p>
		</div>
	</div>
</div>

<div class="explore_container">
    <div class="container_child">
        <img src="/assets/taj.jpg">
        <div class="info_text">
            <h2>Taj Mahal</h2>
            <p>
                The Taj Mahal is considered to be the greatest architectural achievement in the whole range of Indo-Islamic architecture. Its recognised architectonic beauty has a rhythmic combination of solids and voids, concave and convex and light shadow; such as arches and domes further increases the aesthetic aspect. 
                <span class="scanit"><p>View the model via scanning the image</p></span>
            </p>
        </div>
    </div>
    <br>
    <div class="container_child">
        <div class="info_text">
            <h2>Leaning Tower of Pisa</h2>
            <p>
                The Leaning Tower of Pisa (Italian: torre pendente di Pisa), or simply, the Tower of Pisa (torre di Pisa), is the campanile, or freestanding bell tower, of Pisa Cathedral. It is known for its nearly four-degree lean, the result of an unstable foundation. The tower is one of three structures in the Pisa's Cathedral Square (Piazza del Duomo), which includes the cathedral and Pisa Baptistry.
            </p>
        </div>
        <img src="/assets/leaning.jpeg">
    </div>
</div>