<link rel="stylesheet" href="css/index.css">
<%- include('./partials/navbar') %>
<div class="img-fluid">
	<div class="main-1">
		<div class="mai">
			<h1 style="font-size: 60px;">ARCurve</h1>
			<p>An AR based model</p>
			<button type="button" class="btn btn-danger btn-lg">Download apk</button>
		</div>
	</div>
</div>
<div class="explore_container">
	<div class="container_child">
		<div class="info_text">
			<h2>About AR</h2>
			<p>
				Augmented reality (AR) is an interactive experience that combines the real world and computer-generated content. The content can span multiple sensory modalities, including visual, auditory, haptic, somatosensory and olfactory. AR can be defined as a system that incorporates three basic features: a combination of real and virtual worlds, real-time interaction, and accurate 3D registration of virtual and real objects. The overlaid sensory information can be constructive (i.e. additive to the natural environment), or destructive (i.e. masking of the natural environment). This experience is seamlessly interwoven with the physical world such that it is perceived as an immersive aspect of the real environment. In this way, augmented reality alters one's ongoing perception of a real-world environment, whereas virtual reality completely replaces the user's real-world environment with a simulated one.			
			</p>
		</div>
		<img src="/assets/pic2.jpg">
	</div>
</div>
<div class="explore_container">
	<div class="container_child">
		<img src="/assets/3dar.png">
		<div class="info_text">
			<h2>Usefulness of AR</h2>
			<p>
				A key measure of AR systems is how realistically they integrate augmentations with the real world. The software must derive real world coordinates, independent of camera, and camera images. That process is called image registration, and uses different methods of computer vision, mostly related to video tracking. Many computer vision methods of augmented reality are inherited from visual odometry. An augogram is a computer generated image that is used to create AR. Augography is the science and software practice of making augograms for AR.			
			</p>
		</div>
	</div>
</div>
<div class="container">
	<footer class="py-3 my-4">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
			<!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li> -->
		</ul>
		<p class="text-center text-muted">© 2023</p>
	</footer>
</div>