<link rel="stylesheet" href="css/index.css">
<%- include('./partials/navbar') %>
<div class="fl cont">
	<div class="container d-flex">
		<div class="image">
			<img src="./assets/3dar.png" alt="" class="image">
		</div>
		<div class="content">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga ea quam? Officiis exercitationem a
			nihil repellat! Rerum odio iure veniam a maxime. Accusamus delectus possimus necessitatibus quod, autem
			magnam!
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam vel adipisci sit voluptatibus? Illum
			ullam,


		</div>
	</div>
</div>
<div class="fl cont-1">
	<div class="container d-flex">

		<div class="content">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga ea quam? Officiis exercitationem a
			nihil repellat! Rerum odio iure veniam a maxime. Accusamus delectus possimus necessitatibus quod, autem
			magnam!
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam vel adipisci sit voluptatibus? Illum
			ullam,


		</div>
		<div class="image">
			<img src="./assets/3dar1.png" alt="" class="image-1">
		</div>
	</div>
</div>
<div class="fl cont-2">
	<div class="container d-flex">
		<div class="image">
			<img src="./assets/3dar1.png" alt="" class="image-1">
		</div>
		<div class="content">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga ea quam? Officiis exercitationem a
			nihil repellat! Rerum odio iure veniam a maxime. Accusamus delectus possimus necessitatibus quod, autem
			magnam!
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam vel adipisci sit voluptatibus? Illum
			ullam,


		</div>

	</div>
</div>
<div class="container">
	<footer class="py-3 my-4">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
		</ul>
		<p class="text-center text-muted">© 2021 Company, Inc</p>
	</footer>
</div>
