<link rel="stylesheet" href="css/explore.css">
<%- include('./partials/navbar') %>
<div class="img-fluid">
    <div class="main-1">
		<div class="mai">
			<h1 style="font-size: 60px;">Learning</h1>
			<p>More visualizing and realastic way of learning.</p>
		</div>
	</div>
</div>
<div class="explore_container">
    <div class="container_child">
        <img src="/assets/antm.jpg">
        <div class="info_text">
            <h2>Anteater</h2>
            <p>
                Anteater is a common name for the four extant mammal species of the suborder Vermilingua (meaning "worm tongue") commonly known for eating ants and termites. The individual species have other names in English and other languages. Together with the sloths, they are within the order Pilosa. The name "anteater" is also commonly applied to the unrelated aardvark, numbat, echidnas, pangolins, and some members of the Oecobiidae, although they are not closely related to them.

Extant species are the giant anteater Myrmecophaga tridactyla, about 1.8 m (5 ft 11 in) long including the tail; the silky anteater Cyclopes didactylus, about 35 cm (14 in) long; the southern tamandua or collared anteater Tamandua tetradactyla, about 1.2 m (3 ft 11 in) long; and the northern tamandua Tamandua mexicana of similar dimensions.
            </p>
        </div>
    </div>
    <br>
    <div class="container_child">
        <div class="info_text">
            <h2>Blue Jay</h2>
            <p>
                The blue jay (Cyanocitta cristata) is a passerine bird in the family Corvidae, native to eastern North America. It lives in most of the eastern and central United States; some eastern populations may be migratory. Resident populations are also in Newfoundland, Canada; breeding populations are found across southern Canada. It breeds in both deciduous and coniferous forests, and is common in residential areas. Its coloration is predominantly blue, with a white chest and underparts, and a blue crest; it has a black, U-shaped collar around its neck and a black border behind the crest. Males and females are similar in size and plumage, and plumage does not vary throughout the year. Four subspecies have been recognized.            </p>
        </div>
        <img src="/assets/bird.jpg">
    </div>
</div>