<link rel="stylesheet" href="css/explore.css">
<%- include('./partials/navbar') %>
<div class="img-fluid">
    <div class="main-1">
		<div class="mai">
			<h1 style="font-size: 60px;">Magic</h1>
			<p>Magic canvas.</p>
		</div>
	</div>
</div>
<div class="explore_container">
    <div class="container_child">
        <img src="/assets/msd2.jpg">
        <div class="info_text">
            <h2>MS Dhoni's World Cup-winning six in 2011</h2>
            <p>
                MS Dhoni's match-winning six off Sri Lanka medium pacer Nuwan Kulasekara in the 2011 ODI World Cup final at the Wankhede Stadium in Mumbai is part of cricketing folklore. It ended a cricket crazy nation's 28-year-long wait for a world title in the 50-overs format and added a new golden chapter in its cricket history. What it also did was give belief to millions of youngsters who wanted to make it big in the world of sports. One of those youngsters was Kiran Navigre. Such was the impact of Dhoni's unbeaten 91-run knock in that World Cup final and that last six on Navigre that she quit athletics and decided to pick a cricket bat just to hit sixes like the former India captain.            </p>
        </div>
    </div>
    <br>
    <div class="container_child">
        <div class="info_text">
            <h2>Harley-Davidson Sportster</h2>
            <p>
                The Harley-Davidson Sportster is a line of motorcycles produced continuously since 1957 by Harley-Davidson. Sportster models are designated in Harley-Davidson's product code by beginning with "XL". In 1952, the predecessors to the Sportster, the Model K Sport and Sport Solo motorcycles, were introduced.            </p>
        </div>
        <img src="/assets/harley.jpg">
    </div>
</div>