<link rel="stylesheet" href="css/explore.css">
<%- include('./partials/navbar') %>
<div class="img-fluid">
    <div class="main-1">
		<div class="mai">
			<h1 style="font-size: 60px;">Melody</h1>
			<p>Play sound/music of an instrument via its images</p>
		</div>
	</div>
</div>
<div class="explore_container">
    <div class="container_child">
        <img src="/assets/guitar.jpeg">
        <div class="info_text">
            <h2></i>Guitar</h2>
            <p>
                The guitar is a fretted musical instrument that typically has six strings. It is usually held flat against the player's body and played by strumming or plucking the strings with the dominant hand, while simultaneously pressing selected strings against frets with the fingers of the opposite hand. A plectrum or individual finger picks may also be used to strike the strings. The sound of the guitar is projected either acoustically, by means of a resonant chamber on the instrument, or amplified by an electronic pickup and an amplifier.
            </p>
        </div>
    </div>
    <br>
    <div class="container_child">
        <div class="info_text">
            <h2>Piano</h2>
            <p>
                The piano is a keyboard instrument with strings struck by wooden hammers coated with a softer material (modern hammers are covered with dense wool felt; some early pianos used leather). It is played using its keyboard, which is a row of keys (small levers) touched by the performer with the fingers and thumbs of both hands, causing the hammers to strike the strings. It was invented in Italy by Bartolomeo Cristofori around the year 1700.            </p>
        </div>
        <img src="/assets/piano.jpg">
    </div>
    <br>
    <div class="container_child">
        <img src="/assets/Violin.jpeg">
        <div class="info_text">
            <h2></i>Violin</h2>
            <p>
                The piano is a keyboard instrument with strings struck by wooden hammers coated with a softer material (modern hammers are covered with dense wool felt; some early pianos used leather). It is played using its keyboard, which is a row of keys (small levers) touched by the performer with the fingers and thumbs of both hands, causing the hammers to strike the strings. It was invented in Italy by Bartolomeo Cristofori around the year 1700.            </p>
        </div>
    </div>
    <br>
    <div class="container_child">
        <div class="info_text">
            <h2>Flute</h2>
            <p>
The Statue of Liberty (Liberty Enlightening the World; French: La Liberté éclairant le monde) is a colossal neoclassical sculpture on Liberty Island in New York Harbor in New York City, in the United States. The copper statue, a gift from the people of France, was designed by French sculptor Frédéric Auguste Bartholdi and its metal framework was built by Gustave Eiffel. The statue was dedicated on October 28, 1886.        </div>
        <img src="/assets/flute2.jpg">
    </div>
</div>