<link rel="stylesheet" href="css/nav.css">
<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="#">ARCurve</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Learning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/melody">Melody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/explore">Explore</a>
                </li>
                <div class="aright">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                    </li>
                </div>
            </ul>

        </div>
    </div>
</nav>